*{
    margin: 0;
    padding: 0;
}
.main {
    position: absolute;
    top: 100px;
    left: 260px;
} 
.thumb {
    position: absolute;
    box-sizing: border-box;
    top: 40px;
    left: 260px;
    width:120px;
    height:60px;
    border-top: 1px solid #C7A184;
    border-right: 1px solid #C7A184;
    border-left: 0;
    border-bottom: 0;
    background:#F3C5AD;
    -moz-border-radius:0 50px 50px 0;
    -webkit-border-radius:0 50px 50px 0;
    border-radius: 0 50px 50px 0;
    transform: rotateZ(-60deg);
}

.finger1 {
    position: absolute;
    box-sizing: border-box;
    top: 105px;
    left: 399px;
    width: 80px;
    height:60px;
    border-top: 1px solid #C7A184;
    border-right: 1px solid #C7A184;
    border-left: 0;
    border-bottom: 1px solid #C7A184;
    background:#F3C5AD;
    -moz-border-radius:0 50px 50px 0;
    -webkit-border-radius:0 50px 50px 0;
    border-radius: 0 50px 50px 0;
}

.finger2 {
    position: absolute;
    box-sizing: border-box;
    top: 165px;
    left: 399px;
    width: 80px;
    height:60px;
    border-top: 1px solid #C7A184;
    border-right: 1px solid #C7A184;
    border-left: 0;
    border-bottom: 1px solid #C7A184;
    background:#F3C5AD;
    -moz-border-radius:0 50px 50px 0;
    -webkit-border-radius:0 50px 50px 0;
    border-radius: 0 50px 50px 0;
}

.finger3 {
    position: absolute;
    box-sizing: border-box;
    top: 225px;
    left: 399px;
    width: 80px;
    height:60px;
    border-top: 1px solid #C7A184;
    border-right: 1px solid #C7A184;
    border-left: 0;
    border-bottom: 1px solid #C7A184;
    background:#F3C5AD;
    -moz-border-radius:0 50px 50px 0;
    -webkit-border-radius:0 50px 50px 0;
    border-radius: 0 50px 50px 0;
}

.finger4 {
    position: absolute;
    box-sizing: border-box;
    top: 285px;
    left: 399px;
    width: 80px;
    height:60px;
    border-top: 1px solid #C7A184;
    border-right: 1px solid #C7A184;
    border-left: 0;
    border-bottom: 1px solid #C7A184;
    background:#F3C5AD;
    -moz-border-radius:0 50px 50px 0;
    -webkit-border-radius:0 50px 50px 0;
    border-radius: 0 50px 50px 0;
}

.thumb-nail {
    position: absolute;
    box-sizing: border-box;
    top: 12px;
    left: 306px;
    width:50px;
    height:50px;
    margin: 5px;
    background: linear-gradient(left, #F3C5AD, #FAE6DC);
    background: -webkit-gradient(linear, left top, right top, from(#F3C5AD), to(#FAE6DA));
    -moz-border-radius:0 50px 50px 0;
    -webkit-border-radius:0 50px 50px 0;
    border-radius: 0 50px 50px 0;
    transform: rotateZ(-60deg);
}

.thumb-joint {
    position: absolute;
    box-sizing: border-box;
    top: 60px;
    left: 290px;
    width: 30px;
    height:50px;
    margin: 5px;
    background: linear-gradient(left, #F3C5AD, #E9B193);
    background: -webkit-gradient(linear, left top, right top, from(#F3C5AD), to(#E9B193));
    -moz-border-radius:0 50px 50px 0;
    -webkit-border-radius:0 50px 50px 0;
    border-radius: 0 50px 50px 0;
    transform: rotateZ(-60deg);
}

.nail1 {
    position: absolute;
    box-sizing: border-box;
    top:105px;
    left: 420px;
    width:50px;
    height:50px;
    margin: 5px;
    background: linear-gradient(left, #F3C5AD, #FAE6DC);
    background: -webkit-gradient(linear, left top, right top, from(#F3C5AD), to(#FAE6DA));
    -moz-border-radius:0 50px 50px 0;
    -webkit-border-radius:0 50px 50px 0;
    border-radius: 0 50px 50px 0;
}

.nail2 {
    position: absolute;
    box-sizing: border-box;
    top: 165px;
    left: 420px;
    width:50px;
    height:50px;
    margin: 5px;
    background: linear-gradient(left, #F3C5AD, #FAE6DC);
    background: -webkit-gradient(linear, left top, right top, from(#F3C5AD), to(#FAE6DA));
    -moz-border-radius:0 50px 50px 0;
    -webkit-border-radius:0 50px 50px 0;
    border-radius: 0 50px 50px 0;
}

.nail3 {
    position: absolute;
    box-sizing: border-box;
    top:225px;
    left: 420px;
    width:50px;
    height:50px;
    margin: 5px;
    background: linear-gradient(left, #F3C5AD, #FAE6DC);
    background: -webkit-gradient(linear, left top, right top, from(#F3C5AD), to(#FAE6DA));
    -moz-border-radius:0 50px 50px 0;
    -webkit-border-radius:0 50px 50px 0;
    border-radius: 0 50px 50px 0;
}

.nail4 {
    position: absolute;
    box-sizing: border-box;
    top:285px;
    left: 420px;
    width:50px;
    height:50px;
    margin: 5px;
    background: linear-gradient(left, #F3C5AD, #FAE6DC);
    background: -webkit-gradient(linear, left top, right top, from(#F3C5AD), to(#FAE6DA));
    -moz-border-radius:0 50px 50px 0;
    -webkit-border-radius:0 50px 50px 0;
    border-radius: 0 50px 50px 0;
}

.finesse {
    position: absolute;
    box-sizing: border-box;
    top: 150px;
    left: 101px;
    width:170px;
    height:150px;
    background:#F3C5AD;
    border-top: 1px solid #C7A184;
}

.cover {
    position: absolute;
    box-sizing: border-box;
    top: 105px;
    left: 250px;
    width:150px;
    height:240px;
    background:#F3C5AD;
    border-radius: 20px 0 0 20px;
    border: 1px solid #C7A184;
}

.result {
    position: absolute;
    box-sizing: border-box;
    top: 400px;
    left: 300px;
    color: red;
}